<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kAGConfigKey</key>
	<data>
	cGJpbHRzMDAB1AMCBQQHBlgKdiRyZWlzbm8kWXJhaGN2aXJlJFRvdFhwbyRqYmNlc3QA
	EoYBX6APEFNOZUtleUFkY3JpaGV20XIJCHJUb2+AdK8BIBAMCysfLSw0Ljs4Qz5IRFpO
	XFteXWhhamlya3Rzd3WBfSRVdW5sbA3ZDw4REBMSFRQXFhkYGxodHF8eEBBhZHN5blVp
	dEVscHhyaXNlEF9sD2NvZWtCZG51bGRJZXNEZVdkbmFEZXRzWWF0dHJhRGV0JFZsY3Nh
	X3MWEHZhaWFhbGxiU2VydGFlaW1nbmlUZW1mWGFldXRlcl9zExBzaW9Ma2NkZW5PdUJk
	bmVsRElUc25pb2YPEAqACYAHgB+AHYANgIAJ1gIhICMiESQmJSgmKiZhWnR1b2hNcmlh
	Wmx1YWh0cm9hTmVtY1ppbG5lTnRtYVplbGNlaXRuYU1saWNbbW9hcHluYU5lbQSAA4AD
	gAWAA4AGgFNacnRhZWFtaXhfYRkQdGhwdC86dy93d3MucnRhZWFtaXguYW9jX20WEG9j
	dG5jYUB0dHNlcm1heGFhaWMubW8v0jEwWjJjJGFsc3NhbmVtJFhsY3NhZXNWc0dBbklv
	ZjGiWDNTTmJPZWp0YzXSNhFXN1NOdC5taSNlwkFXLYtx4GYIgC/SOTBWOlNOYURldDmi
	0jMRNTc8QSM3wrE6ZouA4NIIET9CQE5aLlNib2VqdGOhc4BBgAtfDBYQb2MubWJmaWxl
	dkMuZXJ0YS1laUxldi/SRTBeRlNOdU1hdGxiQWVycnlhRaMzR05XQVNycnlhP9JJEaNN
	S0qATIAOgBSAGNYcUE9SURFTVR1XVllYaVpTc2xlY2VldFNkZWtVeWl0bHRXZWVkYXRs
	aVhzY2lub2FOZW2ACYAPgBCAEYASXxMZEEFrRkdhZXV0ZXJkQXBhaXRldmlCUnR0YV9l
	ERBkQXBhaXRldkIgdGlSIHRhX2VOEGFNYW5lZ2EgdHVtb3RhY2lsYXlsdCBlaHMgcnRl
	YW1pbmcgYml0IHJhdGUsIGFjY29yZGluZyB0byBhdmFpbGFibGUgYmFuZHdpZHRoLl8Q
	FGljb24tZmVhdHVyZS1kZWZhdWx00i8wX2BZQUdGZWF0dXJlol8z1k9QUVJTER1jZGVY
	WQmAFYAWgBeAEoATXxAaa0FHRmVhdHVyZVNhdmVWaWRlb0xvY2FsbHlfEBJTYXZlIFZp
	ZGVvIExvY2FsbHlfEDlUaGUgc3RyZWFtZWQgdmlkZW8gaXMgc2F2ZWQgb24gdGhlIGRl
	dmljZSdzIGxvY2FsIG1lbW9yeS7WT1BRUlMRHW1ub1hZCYAZgBqAG4ASgBNfEBRrQUdG
	ZWF0dXJlVGFwVG9Gb2N1c1xUYXAgVG8gRm9jdXNfEClUYXAgdG8gZm9jdXMgdGhlIGNh
	bWVyYSBkdXJpbmcgc3RyZWFtaW5nLtIvMEd2okcz03h5EXodfF8QFG51bWJlck9mSG91
	cnNBbGxvd2VkXWlzTGltaXRlZFRpbWUQCgmAHtIvMH5/XxAPQUdTdHJlYW1pbmdUaW1l
	ooAzXxAPQUdTdHJlYW1pbmdUaW1l0i8wgoNdQUdDZXJ0aWZpY2F0ZaKEM11BR0NlcnRp
	ZmljYXRlAAgAEQAaACQAKQAyADcASQBMAFEAUwB2AHwAjwCiALQAvADGAM0A5gDvAQUB
	CgEMAQ4BEAESARQBFgEYARkBGwEoATMBPgFJAVQBYAFiAWQBZgFoAWoBbAF3AZMBrAGx
	AbwBxQHMAc8B2AHdAeUB7gHwAfUB/AH/AgQCDQIPAhQCHwIhAiMCJQI+AkMCUgJWAl4C
	YwJnAmkCawJtAm8CfAKHAosCkQKZAqICowKlAqcCqQKrAq0CyQLdAy4DRQNKA1QDVwNk
	A2UDZwNpA2sDbQNvA4wDoQPdA+oD6wPtA+8D8QPzA/UEDAQZBEUESgRNBFQEawR5BHsE
	fAR+BIMElQSYBKoErwS9BMAAAAAAAAACAQAAAAAAAACFAAAAAAAAAAAAAAAAAAAEzg==
	</data>
	<key>kAGSignatureKey</key>
	<data>
	c1SCoUy5jSWmwqqvJo3nvgJIgEF9y4Xt1j/zUjLraMZ/ewr604yGXdpNWyNAQfz1cv2Y
	GJzH5pYA932BubiELpvUqFyBpBfvTGjvLx+uz9KcTjCCJbSpklZA1+mU9NTsToVtiAQs
	s4SLzsLe8DLsFFIlyp6EiRSHBxNhVnAGo0s=
	</data>
	<key>kAGTokenKey</key>
	<data>
	jz9YCZMDcBXRy0uY7f0N2peFP2hCC+prLuc9Zl4R11w=
	</data>
</dict>
</plist>
