<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138057758752-bmk3v5900abp9li3q84bemnhmjnbbjoi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138057758752-bmk3v5900abp9li3q84bemnhmjnbbjoi</string>
	<key>API_KEY</key>
	<string>AIzaSyCsQ3B2kflybC1AFIOsgW_0W4pEEsCoz9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>138057758752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fblive.Create-Live</string>
	<key>PROJECT_ID</key>
	<string>fb-live-c49f3</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-live-c49f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138057758752:ios:96d0037bea764fa51c2445</string>
	<key>DATABASE_URL</key>
	<string>https://fb-live-c49f3.firebaseio.com</string>
</dict>
</plist>