<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CLIENT_ID</key>
  <string>263706632650-vnkeiptiagvgjuqhk073hr3ds2o7os08.apps.googleusercontent.com</string>
  <key>REVERSED_CLIENT_ID</key>
  <string>com.googleusercontent.apps.263706632650-vnkeiptiagvgjuqhk073hr3ds2o7os08</string>
  <key>API_KEY</key>
  <string>AIzaSyBPtTYgos1TlqOsrsBHOSyFjb7Ard_jfb8</string>
  <key>GCM_SENDER_ID</key>
  <string>263706632650</string>
  <key>PLIST_VERSION</key>
  <string>1</string>
  <key>BUNDLE_ID</key>
  <string>com.fblive.Create-Live</string>
  <key>PROJECT_ID</key>
  <string>fir-live-9d79e</string>
  <key>STORAGE_BUCKET</key>
  <string>fir-live-9d79e.appspot.com</string>
  <key>IS_ADS_ENABLED</key>
  <false></false>
  <key>IS_ANALYTICS_ENABLED</key>
  <false></false>
  <key>IS_APPINVITE_ENABLED</key>
  <true></true>
  <key>IS_GCM_ENABLED</key>
  <true></true>
  <key>IS_SIGNIN_ENABLED</key>
  <true></true>
  <key>GOOGLE_APP_ID</key>
  <string>1:263706632650:ios:926e4e649b11c8f14eef33</string>
  <key>DATABASE_URL</key>
  <string>https://fir-live-9d79e.firebaseio.com</string>
</dict>
</plist>
